<div class="main-container">
  <ion-input
    label="Exercise name"
    label-placement="floating"
    fill="outline"
    placeholder="Exercise name"
    [(ngModel)]="exerciseName"
  ></ion-input>

  <ion-select
    label="Target"
    label-placement="floating"
    fill="outline"
    interface="modal"
    [(ngModel)]="target"
  >
    <ion-select-option value="Biceps">Biceps</ion-select-option>
    <ion-select-option value="Triceps">Triceps</ion-select-option>
    <ion-select-option value="Chest">Chest</ion-select-option>
  </ion-select>

  <div class="button-group">
    <ion-button
      expand="block"
      (click)="saveExercise()"
      [disabled]="!isFormValid()"
    >
      Save
    </ion-button>
  </div>
</div>
