<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button id="open-create-exercise">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal
  #modal
  trigger="open-create-exercise"
  (willPresent)="onWillPresent()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>create exercise</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()"> Close </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-nav #nav></ion-nav>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content>
  <div class="main-container" [style.--grid-columns]="gridColumns">
    @for(exercise of exercises; track exercise.id){
    <app-exercise-tile
      [exercise]="exercise"
      id="open-exercise-{{exercise.id}}"
    />

    }
  </div>
</ion-content>
