ion-fab-button {
  --border-radius: 15px;
  --box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  gap: 10px;
}

@media (orientation: landscape) {
  .main-container {
    grid-template-columns: repeat(
      calc(var(--grid-columns) + 1),
      minmax(0, 1fr)
    );
  }
}
